.main {
  width: 960px;
  margin: 0 auto;
}

.title {
  margin-bottom: 20px;
}

.publishedAt {
  margin-bottom: 40px;
}

.subtitle{
  
    font-size: 30px;
  font-weight: bold;
  margin: 40px 0 20px;
  background-color: #eee;
  padding: 10px 20px;
  border-radius: 5px;
  
}

.post {
  

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}

.nav {
  width: 100%;
  height: 70px;
  background-color: dimgray;
  padding-top: 5px;
  box-sizing: border-box;
}
.ul {
  display: flex;
}
.li {
  list-style: none;
}
.a {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}

.thumbnailBlock {
  display: inline;
}

.thumbnailTitle {
  text-align:justify;
}

.postCard {
  display:inline-block;
  margin-left: 1.4em;
  margin-right: 1.4em;
  margin-top: 1.4em;
  max-width: 75%;
}